# IDE
.idea/
*.iml
.vscode/

# Build
*/target/
*/build/
node_modules/
medsys-web/dist/

# Logs
*.log
hs_err_pid*
replay_pid*

# Secrets
chatbot-service/src/main/resources/application.properties

# OS
.DS_Store
Thumbs.db
ms-personnel/PersonnelMS_FRONTEND_react/PersonnelMSFE/personnelms-app/node_modules/

application-local.properties
