spring.application.name=chatbot-service
server.port=8083
gemini.api.key=VOTRE_CLE_GEMINI_ICI
gemini.model=gemini-2.5-flash
patient.service.url=http://localhost:8081
appointment.service.url=http://localhost:8085